@font-face {
    font-family: 'PT Sans';
    src: url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);
}
@font-face {
    font-family: 'PT Sans';
    src: url(https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);
    font-weight: bold;
}
/* Подключение шрифта */
h1,
h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: smaller;
}
h1 {
    text-transform: uppercase;
}
/* Селекторы по тэгам h */
.menu {
text-decoration: none;
color: green;
font-family: "PT Sans", sans-serif;
padding: 4px;
}
/* Селектор по классу menu */
#tagline {
    font-family: "PT Sans", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 7ch;
}
a:visited{
    color: green;
    }
/* Псевдокласс visited */
#main_menu .menu:hover {
text-decoration: underline;
}
/* Псевдокласс hover */
a:not(:active) {
    color: black;
}
/* Псевдокласс active */